<h3 class="category_heading">About Us</h3>
<section>
    <article id="about-us-body">
        
        <div class="row">
            <div class="col-sm-6">
                <figure>
                    <img class="about-img img-rounded" src="../img/john_penny.png" alt="John Penny">
                    <figcaption>John Penny</figcaption>
                </figure>
            </div>
            <div class="col-sm-6">
                <figure>
                    <img class="about-img img-rounded" src="../img/nathaniel_cleaves.png" alt="Nathaniel Cleaves">
                    <figcaption>Nathaniel Cleaves</figcaption>
                </figure>
            </div>
        </div> <!-- end .row -->
        
        <div class="row">
            <p>
                In 1892, <b>John Penny</b> began a bespoke tailor shop with his then apprentice 
                <b>Nathaniel Cleaves</b> in London's famous Saville Row district.  After months of 
                lackluster sales, Penny and Cleaves were on the verge of bankruptcy when one of their
                unassuming hats became a hot, must-have item among local businessmen.  Nicknamed the 
                'Dorchester', the success of this simple yet dapper hat convinced the two business partners 
                that their future lie not in suit making but men's fashion in general.
            </p>
        </div> <!-- end .row -->
        
        <div class="row">
            <figure>
                <img class="about-img img-rounded" src="../img/dorchester.png" alt="Dorchester Hat">
                <figcaption>The hat that started it all: the Dorchester</figcaption>
            </figure>
        </div>
        
        <div class="row">
            <p>
                Post World War 1, Penny and Cleaves had expanded into almost a dozen stores around greater
                London.  With the American economy booming, they decided to set up shop "across the pond"
                and opened their first American store in New York City in 1922.  Shortly thereafter, the first 
                Penny and Cleaves catalog was distributed and American catalog orders soon became a primary source
                of revenue for the company.  
            </p>
        </div> <!-- end .row-->
        
        <div class="row">
            <figure>
                <img class="about-img img-rounded" src="../img/vintage-coat.png" alt="Vintage P&C coat">
                <figcaption>Vintage coat featured in the 1935 Penny & Cleaves catalog</figcaption>
            </figure>
        </div> <!-- end .row -->
        <div class="row">
            <p>
                John Penny died in 1939 following a stroke.  His son, Bertram, took his place as CEO
                and aggressively expanded both the retail and catalog footprint of P&amp;C and by 1955
                the company was grossing sales of more than $4 million annually.  Nathaniel Cleaves died 
                in 1949 from pneumonia.  His share of the business was bequeathed to his eldest son who had no
                interest in following in his father's footsteps as a clothier but remained on the board of
                directors until his death in 1980.
            </p>
            <p>
                In 1971, CEO Sarah Jensen (descendant of John and Bertram Penny) took the company away from
                a direct-to-consumer model instead opting to license Penny &amp; Cleaves clothing to major 
                department stores.  This allowed P&amp;C to focus less on day-to-day retail and catalog 
                operations and more on what's always been at the heart of Penny &amp; Cleaves: quality 
                men's fashion.  
            </p>
            <p>
                Today, Penny and Cleaves combines the quality and craftsmanship of its founders with
                a modern, youthful style.  Since its inception in 1892, P&amp;C has had at least 
                one Penny and one Cleaves on its payroll, a tradition integral to marrying the company's 
                past with its present and future.
            </p>
            
        </div> <!-- end .row -->
        <div class="row">
            <figure>
                <img class="about-img" src="../img/pennyandcleaves.jpg" alt="Simon Jensen and Richard Cleaves">
                <figcaption>CEO Simon Jensen and Senior Fashion Director Richard Cleaves</figcaption>
            </figure>
        </div>
    </article>
</section>