<h3 class="category_heading">Blog</h3>

<div id="blog_body" class="row">
		<article class="blog-post col-sm-12">
        <h3>Penny &amp; Cleaves Celebrates International Trousers Day</h3>
        <h5>May 19</h5>
        <p>
            P&amp;C is proud to take part in International Trousers Day by offering a 
            free pair of trousers to anyone who donates $10 or more to <a href >Clothes4Souls</a>,
            a great charity that facilitates micro-enterprise programs designed to create jobs
            in disadvantaged communities around the world.  <a href="#!/coming_soon">Click Here</a> to participate!
        </p>
        <figure>
            <img class="blog-img" src="../img/pants.png" alt="pants drawing">
        </figure>
    </article>
    <hr>
    <article class="blog-post col-sm-12">
        <h3>Looking for Summer Interns!</h3>
        <h5>May 1</h5>
        <p>
            P&amp;C is now accepting applications for summer internships!  Internships are paid and include 
            positions in the accounting, marketing, IT, sales, and design departments.  Please submit a resume,
            cover letter, and samples of any relevant coursework.  <a href="#!/coming_soon">Click Here</a> to apply.
        </p>
    </article>
    <hr>
    <article class="blog-post col-sm-12">
        <h3>Happy Birthday Dorchester!</h3>
        <h5>February 16</h5>
        <p>
            113 years ago today, our signature Dorchester hat was born.  Happy Birthday Dorchy!  You don't look 
            a day over 100.
        </p>
        <figure>
            <img class="blog-img" src="../img/dorchester.png" alt="Dorchester Hat">
        </figure>
    </article>
    <hr>
</div> <!-- #blog_body .row -->