<style>
	#jumbotron {
		display: block;
		width: 80%;
		margin: 50px auto;
	}
	#jumbotron img {
		display: block;
		width: 90%;
		margin: 0 auto;
	}
	.window {
		display: inline-block;
		color: #333;
		width: 33.3%;
		margin: 0 auto;
		padding: 2%;
	}
	.window_left {
		padding-left: 10%;
	}
	.window_right {
		padding-right: 10%;
	}
	.window_middle {
		padding: 2% 6%;
	}
	.window img {
		width: 100%;
	}
	.window h3 {
		text-transform: uppercase;
		font-size: 16px;
	}
	.window p {
		font-size: 12px;
	}
	.window a {
		color: #333;
	}
	
</style>
<div id="home">
	<!-- JUMBOTRON -->
	<div id="jumbotron" class="row">
		<a href="#!/men">
			<img src="../img/jumbo_summer.png" alt="sexy man"> <br>
		</a>
	</div><!-- #jumbotron -->

	<!-- THREE WINDOWS -->
	<div id="three_windows" class="row">
		<div class="window window_left col-sm-4">
			<a href="#!/shop/shirts/baseball tees">
				<img src="../img/baseball-tees.jpeg" alt="baseball tees">
				<h3>Old-school baseball gear</h3>
				<p>
					The historic teams behind our exclusive Ebbets Field Flannels® collaboration
				</p>
			</a>
		</div> <!-- Left Window -->
		<div class="window window_middle col-sm-4">
			<a href="#/men">
				<img src="../img/ludlow.jpeg" alt="ludlow">
				<h3>Nailing the Interview</h3>
				<p>
					Keith's style advice for new grads and job hunters of all shapes and sizes
				</p>
			</a>
		</div> <!-- Middle Window -->
		<div class="window window_right col-sm-4">
			<a href="#/men">
				<img src="../img/diy.jpeg" alt="diy">
				<h3>DIY Denim</h3>
				<p>
					Kim and Kim show us how to spice up that old pair of jeans.
				</p>
			</a>
		</div> <!-- Middle Window -->
	</div> <!-- #three_windows -->

	
</div> <!-- #home -->