
<div id="home">
	<!-- JUMBOTRON -->
	<div id="jumbotron" class="row">
		<a href="#!/shop/blazers">
			<img src="../img/jumbo_summer.png" alt="sexy man"> <br>
		</a>
	</div><!-- #jumbotron -->

	<nav class="home_categories visible-xs">
			<a href="#!/">Home</a>
			<a href="#!/shop/shirts">Shirts</a>
			<a href="#!/shop/pants">Pants</a>
			<a href="#!/shop/blazers">Blazers</a>
			<a href="#!/shop/shoes">Shoes</a>
			<a href="#!/shop/accessories">Accessories</a>
			<a href="#!/about">About</a>
			<a href="#!/blog">Blog</a>
	</nav>

	<!-- THREE WINDOWS -->
	<div id="three_windows" class="row">
		<div class="window window_left col-sm-4">
			<a href="#!/shop/shirts/baseball tees">
				<img src="../img/baseball-tees.jpeg" alt="baseball tees">
				<h3>Old-school baseball gear</h3>
				<p>
					The historic teams behind our exclusive Ebbets Field Flannels® collaboration
				</p>
			</a>
		</div> <!-- Left Window -->
		<div class="window window_middle col-sm-4">
			<a href="#!/blog">
				<img src="../img/ludlow.jpeg" alt="ludlow">
				<h3>Nailing the Interview</h3>
				<p>
					Keith's style advice for new grads and job hunters of all shapes and sizes
				</p>
			</a>
		</div> <!-- Middle Window -->
		<div class="window window_right col-sm-4">
			<a href="#!/blog">
				<img src="../img/diy.jpeg" alt="diy">
				<h3>DIY Denim</h3>
				<p>
					Kim and Kim show us how to spice up that old pair of jeans.
				</p>
			</a>
		</div> <!-- Middle Window -->
	</div> <!-- #three_windows -->

	
</div> <!-- #home -->